html {
    height:100%;
  }

  * {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    font-family: proxima-nova,sans-serif;
  }

  body {
    margin: 0;
    padding: 0;
    font-size: 100%;
    font-family: proxima-nova,sans-serif;
    font-size: 14px;
    /* line-height: 1.42857143; */
    color: #333;
    margin: 0 auto;
    height: 100%;
    font-family: proxima-nova,sans-serif;
  }

  .FAQ {
    border-bottom: 1px solid black;
    text-align: right;
    padding: 10px;
  }

  #wrapper {
    display: grid;
    grid-template-columns: 3fr 2fr;
    text-align: center;
    min-height: 100%;
  }

  h1 {
    font-weight: 20;
  font-size: 20px;
  padding-top: 20px;

  margin: 0;
  padding-top: 2.5px;
  padding-bottom: 2.5px;


  }

  .container {
    margin, padding: 0;
  }

  .row > .col-md-3 {
    padding-left: 15px;

  }

  .tt {
    position: relative;
    display: inline-block;
  }

  .tt > .tt-text {
    visibility: hidden;
    width: 200px;
    background-color:  #81c147;
    color: white;
    text-align: center;
    border-radius: 10px;
    padding: 10px 5px;
    position: absolute;
    z-index: 1;
    top: 150%;
    left: 50%;
    margin-left: -105px;
  }

  .tt > .tt-text::after {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -10px;
    border-width: 10px;
    border-style: solid;
    border-color: transparent transparent  #81c147 transparent;
  }

  .tt:hover > .tt-text {
    visibility: visible;
  }

  .same_row {
    margin: 0;
    padding: 0;
    padding: 17.5px;
    padding-left: 10px;
  }

  #filtered_menu {
  padding: 15px;
  }

  h1 > a {
    text-align: right;
  }
  #grid {
      display: grid;
      grid-template-columns: 150px 1fr;
      /* grid-template-rows: 100px 100px; */

  }

  #grid > .second {
    background: #fafafa;
  }


  form {
      display: inline;
      margin: 0;
      width: 400px;
  }

  p {
  margin: 0;
  padding: 0;
  padding: 17.5px;
  padding-left: 10px;
  }

  #ingredient {
      margin: 0;
      padding: 0;
      padding: 2px;
      padding-left: 10px;
  }

  a {
  text-decoration: none;
  }

  li{
    padding: 10px;
    padding-left: 0;
    color: #007bff;;
  }

  #food_list {
      padding-left: 10px;
  }

  #add_menu {
    margin: 0;
    padding: 0;
    padding: 17.5px;
    padding-left: 10px;
  }

  span > h2 {
    padding: 0;
  }

  span > li {
    padding: 0;
  }

  li {
    border-right: 40px;
  }

  #col-md-9 {
    margin, padding: 0px;
  }
