<!DOCTYPE html>
{% load static %}

<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
  </head>

  <body>
    <div id = "head">
      <h1>
        <a href = "{% url 'foodapp:index' %}">Django Test</a>
        <form action = "{% url 'foodapp:practice' %}" autocomplete= "on" method = 'get'>
        {% csrf_token %}
        <input type = "text" name = "practice_ingredient"><!-- placeholder = "재료를 입력하세요." -->
        <a href = "http://127.0.0.1:8000/admin/"><input type = "button" value = "편집"></a>
        <a href = "{%url 'foodapp:form-test' %}"><input type = "button" value = "메뉴추가"></a>
      </h1>
    </div>


    <div id = "grid">
      <div class = "same_row">
<!--
        <a href = "http://127.0.0.1:8000/admin/"><input type = "button" value = "편집"></a>
        <a href = "{%url 'foodapp:form-test' %}"><input type = "button" value = "메뉴추가"></a>
-->

      </div>


      <div>
        <span>
          <br><h2>Welcome!</h2>
        </span>
      </div>
  </div>
  </body>
</html>
