<!DOCTYPE html>
{% load static %}

<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
  </head>

  <body>
    <div id = "head">
      <h1>
        <a href = "{% url 'foodapp:index' %}">Django Test</a>
        <form action = "{% url 'foodapp:practice' %}" autocomplete= "on" method = 'get'>
        {% csrf_token %}
        <input type = "text" name = "practice_ingredient"><!-- placeholder = "재료를 입력하세요." -->
        <a href = "http://127.0.0.1:8000/admin/"><input type = "button" value = "편집"></a>
        <a href = "{%url 'foodapp:form-test' %}"><input type = "button" value = "메뉴추가"></a>
      </h1>
    </div>

    <div id = "grid">
      <div class = "same_row">
      </div>

    <span>
        {% if len_try_a != 0%}
          <h2>Only {{input}}</h2>
          {% for key1, value1 in menu_set1.items %}
            {% for menu in menus %}
              {% if menu.name == key1 %}
                {% if menu.link == None%}
                  <li>{{key1}} - {{value1}}</a></li>
                {% else %}
                  <li><a href = {{menu.link}}> {{key1}}</a> - {{value1}}</li>
                {% endif %}
              {% endif %}
            {% endfor %}
          {% endfor %}
        {% endif %}<br>

        {% if len_try_b != 0 %}
          <h2>{{input}} + 1</h2>
          {% for key2, value2 in menu_set2.items %}
            {% for menu in menus %}
              {% if menu.name == key2 %}
                {% if menu.link == None%}
                  <li>{{key2}} - {{value2}}</a></li>
                {% else %}
                  <li><a href = {{menu.link}}> {{key2}}</a> - {{value2}}</li>
                {% endif %}
              {% endif %}
            {% endfor %}
          {% endfor %}
        {% endif %}<br>

        {% if len_try_c != 0 %}
          <h2>{{input}} + 2</h2>
          {% for key3, value3 in menu_set3.items %}
            {% for menu in menus %}
              {% if menu.name == key3 %}
                {% if menu.link == None%}
                  <li>{{key3}} - {{value3}}</a></li>
                {% else %}
                  <li><a href = {{menu.link}}> {{key3}}</a> - {{value3}}</li>
                {% endif %}
              {% endif %}
            {% endfor %}
          {% endfor %}
        {% endif %}<br>

        {% if len_try_d != 0 %}
          <h2>{{input}} + α</h2>
          {% for key4, value4 in menu_set4.items %}
            {% for menu in menus %}
              {% if menu.name == key4 %}
                {% if menu.link == None%}
                  <li>{{key4}} - {{value4}}</a></li>
                {% else %}
                  <li><a href = {{menu.link}}> {{key4}}</a> - {{value4}}</li>
                {% endif %}
              {% endif %}
            {% endfor %}
          {% endfor %}
        {% endif %}<br>
    </span>
    </div>
  </body>
</html>
