<!DOCTYPE html>
{% load static %}

<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <style>
    .form-inline {
      display: inline;
    }
    .form-inline > input {
      margin: 8px;
    }

    .form-inline > .form-control.mr-sm-2 {
      margin: 0;
    }
    #two > #video {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      text-align: center;
    }

    #video > div {
      padding: 10px;
    }

    #block {
      min-width: 300px;
    }
    </style>
  </head>

  <body>
    <div class = "container">
      <div class = "jumbotron text-center">
          <h2><a href = "{% url 'foodapp:index' %}">DJango Test</a></h1>
      </div>

      <div class="row">
        <div class="col-md-3" id = 'one'>
          {% for menu in menus %}
          <li><a href = test/{{menu.name}}>{{menu.name}}</a></li>
          {% endfor %}
          {% csrf_token %}
        </div>
        <hr>

        <div class="col-md-9" id = 'two'>
          <form class="form-inline" action = "{% url 'foodapp:search' %}" autocomplete= "on">
            <input class="form-control mr-sm-2" type="search" name = "food" placeholder="Search" aria-label="Search">
            <button class = "btn btn-outline-primary btn-md" type="submit">Search</button>
          </form>
          <button class = "btn btn-outline-primary btn-md" value = "Edit" onClick="location.href='http://127.0.0.1:8000/admin/'">Edit</button>
          <button class = "btn btn-outline-primary btn-md" value = "Create" onClick="location.href='{% url 'foodapp:create' %}'">Create</button>
          <hr>
          menu_one: {{menu_one}}<br><br>
          menu_two: {{menu_two}}<br><br>
          menu_three: {{menu_three}}<br><br>
          menu_four: {{menu_four}}<br><br>
          <div id = "video">
            {% if menu_one %}
              <p><h2>Only {{input}}</h2></p>
              {% for menu in menus %}
                {%for menu_one_name in menu_one %}
                  {% if menu.name == menu_one_name %}
                    {% if menu.link %}
                      <div>
                        <li><a href = test/{{menu.name}}>{{menu.name}}</a></li>
                        {{menu.Essential_Ingredient}}
                        <iframe width="250" height="250" src="{{menu.link}}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></i290me>
                      </div>
                    {% endif %}
                  {% endif %}
                {% endfor %}
              {% endfor %}
            {% endif %}
            </div>

            <div id = "video">
              {% if menu_two %}
                <p><h2>{{input}} + 1</h2></p>
                {% for menu in menus %}
                  {%for menu_two_name in menu_two %}
                    {% if menu.name == menu_two_name %}
                      {% if menu.link %}
                        <div>
                          <li><a href = test/{{menu.name}}>{{menu.name}}</a></li>
                          {{menu.Essential_Ingredient}}
                          <iframe width="250" height="250" src="{{menu.link}}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></i290me>
                        </div>
                      {% endif %}
                    {% endif %}
                  {% endfor %}
                {% endfor %}
              {% endif %}
            </div>

            <div id = "video">
              {% if menu_three %}
                <p><h2>{{input}} + 2</h2></p>
                {% for menu in menus %}
                  {%for menu_three_name in menu_three %}
                    {% if menu.name == menu_three_name %}
                      {% if menu.link %}
                        <div>
                          <li><a href = test/{{menu.name}}>{{menu.name}}</a></li>
                          {{menu.Essential_Ingredient}}
                          <iframe width="250" height="250" src="{{menu.link}}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                        </div>
                      {% endif %}
                    {% endif %}
                  {% endfor %}
                {% endfor %}
              {% endif %}
            </div>

            <div id = "video">
              {% if menu_four %}
                <p><h2>{{input}} + α</h2></p>
                {% for menu in menus %}
                  {%for menu_four_name in menu_four %}
                    {% if menu.name == menu_four_name %}
                      {% if menu.link %}
                        <div>
                          <li><a href = test/{{menu.name}}>{{menu.name}}</a></li>
                          <span id = "block">{{menu.Essential_Ingredient}}</span>
                          <iframe width="250" height="250" src="{{menu.link}}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                        </div>
                      {% endif %}
                    {% endif %}
                  {% endfor %}
                {% endfor %}
              {% endif %}
            </div>

<br><br>
        </div>
      </div>
      <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
      <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    </div>
  </body>
</html>
