<head>
<style>
  #explanation {
    margin: 0;
    background-color: #fafafa;
    text-align: left;
    padding: 0px;
  }

  #explanation > li {
    padding-left: 10px;
    list-style-type: none;
  }
</style>
</head>

{% extends 'base.html' %}
{% block content %}
<div id = "video">
  {{bbb}}<br><br>
  {{tmp}}<br><br>
  {{tmp_queryset}}<br><br>
  {{menu_one}}<br><br>
  {{menu_two}}<br><br>
  {{menu_three}}<br><br>
  {{menu_four}}<br><br>
  <!-- {{menumenu}}<br><br>
  {{namename}}<br><br>
  {{ingreingre}}<br><br>
  {{linklink}}<br><br>
  {{menus}}<br><br>
  {{names}}<br><br> -->


  {% if menu_one %}
    <p><h2>Only {{input}}</h2></p>
    {% for name, ingredient, link in menu_one_zipper %}
      <div id = "each_video">
          <iframe width="250" height="250" src="{{link}}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          <div id = "explanation" class = "jumbotron">
              <li><a href = test/{{name}}>{{name}}</a></li>
              <div style = "padding: 10px;">{{ingredient}}</div>
          </div>
      </div>
    {% endfor %}
  {% endif %}
</div>
<br><br>

  <div id = "video">
    {% if menu_two %}
    <p><h2>{{input}} + 1</h2></p>
    {% for name, ingredient, link in menu_two_zipper %}
      <div id = "each_video">
        <iframe width="250" height="250" src="{{link}}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <div id = "explanation" class = "jumbotron">
              <li stlye = "padding-left: 10px;"><a href = test/{{name}}>{{name}}</a></li>
              <div style = "padding: 10px;">{{ingredient}}</div>
          </div>
      </div>
    {% endfor %}
  {% endif %}
  </div>
  <br><br>

  <div id = "video">
    {% if menu_three %}
    <p><h2>{{input}} + 2</h2></p>
    {% for name, ingredient, link in menu_three_zipper %}
      <div id = "each_video">
        <iframe width="250" height="250" src="{{link}}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <div id = "explanation" class = "jumbotron">
              <li stlye = "padding-left: 10px;"><a href = test/{{name}}>{{name}}</a></li>
              <div style = "padding: 10px;">{{ingredient}}</div>
          </div>
      </div>
    {% endfor %}
  {% endif %}
  </div>
  <br><br>

  <div id = "video">
    {% if menu_four %}
    <p><h2>{{input}} + α</h2></p>
    {% for name, ingredient, link in menu_four_zipper %}
      <div id = "each_video">
        <iframe width="250" height="250" src="{{link}}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <div id = "explanation" class = "jumbotron">
              <li stlye = "padding-left: 10px;"><a href = test/{{name}}>{{name}}</a></li>
              <div style = "padding: 10px;">{{ingredient}}</div>
          </div>
      </div>
    {% endfor %}
  {% endif %}
  </div>
  <br><br>
{% endblock %}
