<!DOCTYPE html>
{% load static %}

<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <style>
    html, body {
      height:100%;
      width: 80% auto;
    }

    h1 {
      font-weight: 20;
      font-size: 20px;
      padding-top: 20px;
    }

    .form-inline {
      display: inline;
    }
    .form-inline > input {
      margin: 8px;
    }

    .form-inline > .form-control.mr-sm-2 {
      margin: 0;
    }
/*
    .test.jumbotron > div{
      text-align: center;
    } */

    /* #test {
      display: grid;
      grid-template-columns: 400px 1fr;
      margin: 0;
      padding: 0;
    } */

    </style>
  </head>

  <body>
    <div class = "container">
      <div class = "jumbotron text-center" style = "background-color: #fafafa;">
          <h2><a href = "{% url 'foodapp:index' %}">DJango Test</a></h1>
      </div>

      <div class="row">
        <div id = 'one' class="col-md-3">
          {% for menu in menus %}
          <li><a href = {{menu.name}}>{{menu.name}}</a></li>
          {% endfor %}
          {% csrf_token %}
        </div>

        <div class="col-md-9" id = 'two'>
          <form class="form-inline" action = "{% url 'foodapp:search' %}" autocomplete= "on">
            <input class="form-control mr-sm-2" type="search" name = "food" placeholder="Search" aria-label="Search">
            <button class = "btn btn-outline-primary btn-md" type="submit">Search</button>
          </form>
          <button class = "btn btn-outline-primary btn-md" value = "Edit" onClick="location.href='http://127.0.0.1:8000/admin/'">Edit</button>
          <button class = "btn btn-outline-primary btn-md" value = "Create" onClick="location.href='{% url 'foodapp:create' %}'">Create</button>
          <hr>

          <h1 style = "text-align: center;">{{food}}</h1><br>

          <div id = "test" style = "text-align: center;">
            {% if link %}<iframe src="{{link}}" width = "500px" height = "350px" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>{% endif %}
            <div><!-- <div class = "test jumbotron test" style="background-color: #fafafa;"> -->
              {% if Essential_Ingredient %}
                <div><h5><li>필수재료 </li>{{Essential_Ingredient}}</div><br>
              {% endif %}

              {% if nonessential_Ingredients %}
                <div><h5><li>추가재료 </li>{{nonessential_Ingredients}}</div><br>
              {% endif %}

              {% if tip %}
                <div><h5><li>팁</li>{{tip}}</div><br>
              {% endif %}

              {% if link %}
                <div><h5><li>링크</li><a href = {{link}}>{{link}}</a></div><br>
              {% endif %}
              {% csrf_token %}
            </div>
            <!-- <div class = "video">
              <iframe src="{{link}}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div> -->
          </div>

        </div>
      </div>
      <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
      <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  </body>
</html>
