<head>
<style>
  html, body {
    height:100%;
    width: 80% auto;
  }

  h1 {
    font-weight: 20;
    font-size: 20px;
    padding-top: 20px;
  }
</style>
</head>


{% extends 'base.html' %}
{% block content %}
<h1 style = "text-align: center;">{{food.name}}</h1><br><br>

    <div id = "test" style = "text-align: center;">
      <iframe src="{{food.link}}" width = "500px" height = "350px" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <div>
    <div><h5><li>필수재료 </li>{{food.Essential_Ingredient}}</div><br>
    <div><h5><li>추가재료 </li>{{food.nonessential_Ingredients}}</div><br>
    <div><h5><li>팁</li>{{food.tip}}</div><br>
    <div><h5><li>링크</li><a href = {{food.link}}>{{food.link}}</a></div><br>
{% endblock %}
