<head>
<style>
  test.html
  html, body {
    height:100%;
    width: 80% auto;
  }

  h1 {
    font-weight: 20;
    font-size: 20px;
    padding-top: 20px;
  }
</style>
</head>


{% extends 'base.html' %}
{% block content %}
<h1 style = "text-align: center;">{{food}}</h1><br>

<div id = "test" style = "text-align: center;">
{% if link %}<iframe src="{{link}}" width = "500px" height = "350px" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>{% endif %}
<div><!-- <div class = "test jumbotron test" style="background-color: #fafafa;"> -->
  {% if Essential_Ingredient %}
    <div><h5><li>필수재료 </li>{{Essential_Ingredient}}</div><br>
  {% endif %}

  {% if nonessential_Ingredients %}
    <div><h5><li>추가재료 </li>{{nonessential_Ingredients}}</div><br>
  {% endif %}

  {% if tip %}
    <div><h5><li>팁</li>{{tip}}</div><br>
  {% endif %}

  {% if link %}
    <div><h5><li>링크</li><a href = {{link}}>{{link}}</a></div><br>
  {% endif %}
  {% csrf_token %}
{% endblock %}
